/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.flex-row { display: flex; }

.flex-column { display: flex; flex-direction: column; }

.space-between { justify-content: space-between; }

.y-center { align-items: center; }

.x-start { justify-content: flex-start; }

.x-end { justify-content: flex-end; }

.clearfix:after { content: ""; display: table; clear: both; }

.container { background-color: white; padding: 24px; margin-left: 24px; margin-right: 24px; }

.row { padding: 24px; }

.col-lg-2 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 2 / 12); }

.col-md-2 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 2 / 12); }

.col-sm-2 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 2 / 12); }

.col-2 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 2 / 12); }

.col-lg-3 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 3 / 12); }

.col-md-3 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 3 / 12); }

.col-sm-3 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 3 / 12); }

.col-3 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 3 / 12); }

.col-lg-4 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 4 / 12); }

.col-md-4 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 4 / 12); }

.col-sm-4 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 4 / 12); }

.col-4 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 4 / 12); }

.col-lg-6 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 6 / 12); }

.col-md-6 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 6 / 12); }

.col-sm-6 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 6 / 12); }

.col-6 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 6 / 12); }

.col-lg-8 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 8 / 12); }

.col-md-8 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 8 / 12); }

.col-sm-8 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 8 / 12); }

.col-8 { border: solid 2px #000; padding: 24px; float: left; box-sizing: border-box; width: calc(100% * 8 / 12); }

@media screen and (max-width: 1200px) { .col-lg-4, .col-lg-2, .col-lg-3, .col-lg-6, .col-lg-8 { float: none; width: 100%; } }
@media screen and (max-width: 992px) { .col-lg-4, .col-lg-2, .col-lg-3, .col-lg-6, .col-lg-8, .col-md-4, .col-md-2, .col-md-3, .col-md-6, .col-md-8 { float: none; width: 100%; } }
@media screen and (max-width: 768px) { .col-lg-4, .col-lg-2, .col-lg-3, .col-lg-6, .col-lg-8, .col-md-4, .col-md-2, .col-md-3, .col-md-6, .col-md-8, .col-sm-4, .col-sm-2, .col-sm-3, .col-sm-6, .col-sm-8 { float: none; width: 100%; } }
.float-left { float: left; }

.float-right { float: right; }

.pos-absolute { position: absolute; }

.pos-fixed { position: fixed; }

.pos-relative { position: relative; }

.pos-sticky { position: sticky; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.margin-8px { margin: 8px; }

.padding-8px { padding: 8px; }

.margin-16px { margin: 16px; }

.padding-16px { padding: 16px; }

.margin-32px { margin: 32px; }

.padding-32px { padding: 32px; }

.margin-40px { margin: 40px; }

.padding-40px { padding: 40px; }

.margin-48px { margin: 48px; }

.padding-48px { padding: 48px; }

.button-lg { height: 72px; font-size: 36px; padding: 5px 10px; }
.button-lg:active { transform: translateY(2px); }
.button-lg:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-md { height: 48px; font-size: 24px; padding: 5px 10px; }
.button-md:active { transform: translateY(2px); }
.button-md:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-sm { height: 32px; font-size: 16px; padding: 5px 10px; }
.button-sm:active { transform: translateY(2px); }
.button-sm:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-prim-lg { height: 72px; font-size: 36px; border: 1px solid green; background-color: #4cbb17; color: white; padding: 5px 10px; }
.button-prim-lg:active { transform: translateY(2px); }
.button-prim-lg:hover { background-color: #60e421; padding: 5px 10px; }
.button-prim-lg:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-prim-md { height: 48px; font-size: 24px; border: 1px solid green; background-color: #4cbb17; color: white; padding: 5px 10px; }
.button-prim-md:active { transform: translateY(2px); }
.button-prim-md:hover { background-color: #60e421; padding: 5px 10px; }
.button-prim-md:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-prim-sm { height: 32px; font-size: 16px; border: 1px solid green; background-color: #4cbb17; color: white; padding: 5px 10px; }
.button-prim-sm:active { transform: translateY(2px); }
.button-prim-sm:hover { background-color: #60e421; padding: 5px 10px; }
.button-prim-sm:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-sec-lg { height: 72px; font-size: 36px; border: 1px solid #0066cc; background-color: #0099cc; color: white; padding: 5px 10px; }
.button-sec-lg:active { transform: translateY(2px); }
.button-sec-lg:hover { background-color: deepskyblue; color: white; padding: 5px 10px; }
.button-sec-lg:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-sec-md { height: 48px; font-size: 24px; border: 1px solid #0066cc; background-color: #0099cc; color: white; padding: 5px 10px; }
.button-sec-md:active { transform: translateY(2px); }
.button-sec-md:hover { background-color: deepskyblue; color: white; padding: 5px 10px; }
.button-sec-md:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-sec-sm { height: 32px; font-size: 16px; border: 1px solid #0066cc; background-color: #0099cc; color: white; padding: 5px 10px; }
.button-sec-sm:active { transform: translateY(2px); }
.button-sec-sm:hover { background-color: deepskyblue; color: white; padding: 5px 10px; }
.button-sec-sm:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-warn-lg { height: 72px; font-size: 36px; border: 1px solid crimson; background-color: #ff3333; color: white; padding: 5px 10px; }
.button-warn-lg:active { transform: translateY(2px); }
.button-warn-lg:hover { background-color: #ff6666; color: #ffffff; padding: 5px 10px; }
.button-warn-lg:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-warn-md { height: 48px; font-size: 24px; border: 1px solid crimson; background-color: #ff3333; color: white; padding: 5px 10px; }
.button-warn-md:active { transform: translateY(2px); }
.button-warn-md:hover { background-color: #ff6666; color: #ffffff; padding: 5px 10px; }
.button-warn-md:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.button-warn-sm { height: 32px; font-size: 16px; border: 1px solid crimson; background-color: #ff3333; color: white; padding: 5px 10px; }
.button-warn-sm:active { transform: translateY(2px); }
.button-warn-sm:hover { background-color: #ff6666; color: #ffffff; padding: 5px 10px; }
.button-warn-sm:disabled { border: 1px solid #bbb; background-color: #ccc; color: #666; }

.square { background: #212; width: 150px; height: 150px; border: solid 3px #655; color: white; font-size: 32px; line-height: 150px; box-sizing: border-box; }

.square-sm { background: white; height: 50px; width: 50px; }

.checkmark-lg { position: absolute; top: 0; left: 4px; height: 48px; width: 48px; background-color: #ccc; border: 1px solid transparent; }

.label-lg input:checked ~ .checkmark-lg { background-color: #2196F3; }

.label-lg input:hover ~ .checkmark-lg { background-color: #ddd; }

.label-lg input:checked:hover ~ .checkmark-lg { background-color: #51adf6; }

.checkmark-lg::after { content: ""; position: absolute; display: none; }

.label-lg input:checked ~ .checkmark-lg::after { display: block; }

.label-lg .checkmark-lg::after { left: 16px; top: 8px; width: 8px; height: 24px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.label-lg input:disabled ~ .checkmark-lg::after { display: block; }

.label-lg input:disabled:hover ~ .checkmark-lg { display: block; background: #ccc; }

.label-lg input:invalid ~ .checkmark-lg { background-color: #ff3333; }

.label-lg input:invalid:hover ~ .checkmark-lg { background-color: #ff6666; }

.label-lg input:focus ~ .checkmark-lg { border: solid 1px gray; }

.checkmark-md { position: absolute; top: 0; left: 3px; height: 36px; width: 36px; background-color: #ccc; border: 1px solid transparent; }

.label-md input:checked ~ .checkmark-md { background-color: #2196F3; }

.label-md input:hover ~ .checkmark-md { background-color: #ddd; }

.label-md input:checked:hover ~ .checkmark-md { background-color: #51adf6; }

.checkmark-md::after { content: ""; position: absolute; display: none; }

.label-md input:checked ~ .checkmark-md::after { display: block; }

.label-md .checkmark-md::after { left: 12px; top: 6px; width: 6px; height: 18px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.label-md input:disabled ~ .checkmark-md::after { display: block; }

.label-md input:disabled:hover ~ .checkmark-md { display: block; background: #ccc; }

.label-md input:invalid ~ .checkmark-md { background-color: #ff3333; }

.label-md input:invalid:hover ~ .checkmark-md { background-color: #ff6666; }

.label-md input:focus ~ .checkmark-md { border: solid 1px gray; }

.checkmark-sm { position: absolute; top: 0; left: 2px; height: 24px; width: 24px; background-color: #ccc; border: 1px solid transparent; }

.label-sm input:checked ~ .checkmark-sm { background-color: #2196F3; }

.label-sm input:hover ~ .checkmark-sm { background-color: #ddd; }

.label-sm input:checked:hover ~ .checkmark-sm { background-color: #51adf6; }

.checkmark-sm::after { content: ""; position: absolute; display: none; }

.label-sm input:checked ~ .checkmark-sm::after { display: block; }

.label-sm .checkmark-sm::after { left: 8px; top: 4px; width: 4px; height: 12px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.label-sm input:disabled ~ .checkmark-sm::after { display: block; }

.label-sm input:disabled:hover ~ .checkmark-sm { display: block; background: #ccc; }

.label-sm input:invalid ~ .checkmark-sm { background-color: #ff3333; }

.label-sm input:invalid:hover ~ .checkmark-sm { background-color: #ff6666; }

.label-sm input:focus ~ .checkmark-sm { border: solid 1px gray; }

.input-lg { height: 72px; font-size: 36px; padding: 5px 10px; border: 1px solid #bbb; border-radius: 3px; outline: none; }
.input-lg:focus { border-color: #2196F3; }
.input-lg:read-only { background: #eee; border-color: #bbb; }
.input-lg:disabled { border-color: #bbb; background: #eee; color: #666; }

.input-md { height: 48px; font-size: 24px; padding: 5px 10px; border: 1px solid #bbb; border-radius: 3px; outline: none; }
.input-md:focus { border-color: #2196F3; }
.input-md:read-only { background: #eee; border-color: #bbb; }
.input-md:disabled { border-color: #bbb; background: #eee; color: #666; }

.input-sm { height: 32px; font-size: 16px; padding: 5px 10px; border: 1px solid #bbb; border-radius: 3px; outline: none; }
.input-sm:focus { border-color: #2196F3; }
.input-sm:read-only { background: #eee; border-color: #bbb; }
.input-sm:disabled { border-color: #bbb; background: #eee; color: #666; }

.input-req-lg { height: 72px; font-size: 36px; padding: 5px 10px; border: 1px solid #bbb; border-radius: 3px; outline: none; }
.input-req-lg:required:valid { border-color: green; background: lightgreen; }
.input-req-lg:required:invalid { border-color: #ff3333; background: pink; }
.input-req-lg:required:focus:valid { background: url("https://d33wubrfki0l68.cloudfront.net/6da9ad5ba456a485807728e5aeec4606699efcd6/c3bab/images/check.svg") no-repeat 95% 50%; background-size: 25px; }
.input-req-lg:required:focus:invalid { background: url("https://d33wubrfki0l68.cloudfront.net/2efa1fff9f09a98d2248613785130ee6fa5c3e58/c77fb/images/tnt.svg") no-repeat 95% 50%; background-size: 45px; }

.input-req-md { height: 48px; font-size: 24px; padding: 5px 10px; border: 1px solid #bbb; border-radius: 3px; outline: none; }
.input-req-md:required:valid { border-color: green; background: lightgreen; }
.input-req-md:required:invalid { border-color: #ff3333; background: pink; }
.input-req-md:required:focus:valid { background: url("https://d33wubrfki0l68.cloudfront.net/6da9ad5ba456a485807728e5aeec4606699efcd6/c3bab/images/check.svg") no-repeat 95% 50%; background-size: 25px; }
.input-req-md:required:focus:invalid { background: url("https://d33wubrfki0l68.cloudfront.net/2efa1fff9f09a98d2248613785130ee6fa5c3e58/c77fb/images/tnt.svg") no-repeat 95% 50%; background-size: 45px; }

.input-req-sm { height: 32px; font-size: 16px; padding: 5px 10px; border: 1px solid #bbb; border-radius: 3px; outline: none; }
.input-req-sm:required:valid { border-color: green; background: lightgreen; }
.input-req-sm:required:invalid { border-color: #ff3333; background: pink; }
.input-req-sm:required:focus:valid { background: url("https://d33wubrfki0l68.cloudfront.net/6da9ad5ba456a485807728e5aeec4606699efcd6/c3bab/images/check.svg") no-repeat 95% 50%; background-size: 25px; }
.input-req-sm:required:focus:invalid { background: url("https://d33wubrfki0l68.cloudfront.net/2efa1fff9f09a98d2248613785130ee6fa5c3e58/c77fb/images/tnt.svg") no-repeat 95% 50%; background-size: 45px; }

.label-lg { position: relative; padding-left: 64px; font-size: 36px; }

.label-lg input { position: absolute; opacity: 0; }

.label-md { position: relative; padding-left: 48px; font-size: 27px; }

.label-md input { position: absolute; opacity: 0; }

.label-sm { position: relative; padding-left: 32px; font-size: 18px; }

.label-sm input { position: absolute; opacity: 0; }

.radiomark-lg { position: absolute; top: 0; left: 4px; height: 48px; width: 48px; background-color: #ccc; border: 1px solid transparent; border-radius: 50%; }

.label-lg input:checked ~ .radiomark-lg { background-color: #2196F3; }

.label-lg input:hover ~ .radiomark-lg { background-color: #ddd; }

.label-lg input:checked:hover ~ .radiomark-lg { background-color: #51adf6; }

.radiomark-lg::after { content: ""; position: absolute; display: none; }

.label-lg input:checked ~ .radiomark-lg::after { display: block; }

.label-lg .radiomark-lg::after { top: 16px; left: 16px; width: 16px; height: 16px; border-radius: 50%; background: white; }

.label-lg input:disabled ~ .radiomark-lg::after { display: block; }

.label-lg input:disabled ~ .radiomark-lg { display: block; background: #ccc; }

.label-lg input:invalid ~ .radiomark-lg { background-color: #ff3333; }

.label-lg input:invalid:hover ~ .radiomark-lg { background-color: #ff6666; }

.label-lg input:focus ~ .radiomark-lg { border: solid 1px gray; }

.radiomark-md { position: absolute; top: 0; left: 3px; height: 36px; width: 36px; background-color: #ccc; border: 1px solid transparent; border-radius: 50%; }

.label-md input:checked ~ .radiomark-md { background-color: #2196F3; }

.label-md input:hover ~ .radiomark-md { background-color: #ddd; }

.label-md input:checked:hover ~ .radiomark-md { background-color: #51adf6; }

.radiomark-md::after { content: ""; position: absolute; display: none; }

.label-md input:checked ~ .radiomark-md::after { display: block; }

.label-md .radiomark-md::after { top: 12px; left: 12px; width: 12px; height: 12px; border-radius: 50%; background: white; }

.label-md input:disabled ~ .radiomark-md::after { display: block; }

.label-md input:disabled ~ .radiomark-md { display: block; background: #ccc; }

.label-md input:invalid ~ .radiomark-md { background-color: #ff3333; }

.label-md input:invalid:hover ~ .radiomark-md { background-color: #ff6666; }

.label-md input:focus ~ .radiomark-md { border: solid 1px gray; }

.radiomark-sm { position: absolute; top: 0; left: 2px; height: 24px; width: 24px; background-color: #ccc; border: 1px solid transparent; border-radius: 50%; }

.label-sm input:checked ~ .radiomark-sm { background-color: #2196F3; }

.label-sm input:hover ~ .radiomark-sm { background-color: #ddd; }

.label-sm input:checked:hover ~ .radiomark-sm { background-color: #51adf6; }

.radiomark-sm::after { content: ""; position: absolute; display: none; }

.label-sm input:checked ~ .radiomark-sm::after { display: block; }

.label-sm .radiomark-sm::after { top: 8px; left: 8px; width: 8px; height: 8px; border-radius: 50%; background: white; }

.label-sm input:disabled ~ .radiomark-sm::after { display: block; }

.label-sm input:disabled ~ .radiomark-sm { display: block; background: #ccc; }

.label-sm input:invalid ~ .radiomark-sm { background-color: #ff3333; }

.label-sm input:invalid:hover ~ .radiomark-sm { background-color: #ff6666; }

.label-sm input:focus ~ .radiomark-sm { border: solid 1px gray; }

.textarea, .textarea-err { outline: none; overflow: auto; width: 80%; padding: 5px 10px; border: 1px solid #bbb; border-radius: 3px; }
.textarea:focus, .textarea-err:focus { border-color: #2196F3; }
.textarea:read-only, .textarea-err:read-only { color: black; background-color: #eee; }
.textarea:read-only:focus, .textarea-err:read-only:focus { border-color: #bbb; }
.textarea:disabled, .textarea-err:disabled { background-color: #eee; color: #666; }
.textarea-err { border: 1px solid #ff3333; }

.heading-lg { font-size: 32pt; }

.heading-md { font-size: 24pt; }

.heading-sm { font-size: 16pt; }

html { background: #323; }

/*# sourceMappingURL=style.css.map */
