$label_dims: (
	lg: 32px,
	md: 24px,
	sm: 16px,
);

$button_dims: (
	lg: 72px,
	md: 48px,
	sm: 32px,
);

$font-sizes: (
	lg: 32pt,
	md: 24pt,
	sm: 16pt,
);

$checkbox_dims: (
	lg: 32px,
	md: 24px,
	sm: 16px,
);

$radio_dims: (
	lg: 32px,
	md: 24px,
	sm: 16px,
);

$input_dims: (
	lg: 56px,
	md: 40px,
	sm: 32px,
);



// Column sizes

$col_widths: 2, 3, 4, 6, 8;
$col_sizes: '-lg', '-md', '-sm', '';