@each $size, $dim in $button_dims {
  .button-#{$size} {
    height: $dim;
    font-size: $dim / 2;
    @include button-general
   }
}

@each $size, $dim in $button_dims {
  .button-prim-#{$size} {
    height: $dim;
    font-size: $dim / 2;
    @include button-primary
   }
}

@each $size, $dim in $button_dims {
  .button-sec-#{$size} {
    height: $dim;
    font-size: $dim / 2;
    @include button-secondary
   }
}

@each $size, $dim in $button_dims {
  .button-warn-#{$size} {
    height: $dim;
    font-size: $dim / 2;
    @include button-warning
   }
}

// Demo

.square {
  background: #212;
  width: 150px;
  height: 150px;
  border: solid 3px #655;
  color: white;
  font-size: 32px;
  line-height: 150px;
  box-sizing: border-box;
}

.square-sm {
  background: white;
  height: 50px;
  width: 50px;
}