@each $size, $dim in $checkbox-dims {
	
	// Setting up checkmark
	.checkmark-#{$size} {
		position: absolute;
		top: 0;
		left: $dim / 8;
		height: $dim * 3 / 2;
		width: $dim * 3 / 2;
		background-color: $color-gray;
		border: 1px solid transparent;
	}

	// Adding checked effect
	.label-#{$size} input:checked ~ .checkmark-#{$size} {
		background-color: $color-sky;
	}

	// Adding hover effect
	.label-#{$size} input:hover ~ .checkmark-#{$size} {
		background-color: $color-lightgray;
	}

	.label-#{$size} input:checked:hover ~ .checkmark-#{$size} {
		background-color: $color-lightsky;
	}

	// Note to self: ":::after" is often used to display additional content.
	.checkmark-#{$size}::after {
		content: "";
		position: absolute;
		display: none;
	}

	// Setting checkmark to be visible when checkbox is checked
	.label-#{$size} input:checked ~ .checkmark-#{$size}::after {
		display: block;
	}

	// Styling the checkmark
	.label-#{$size} .checkmark-#{$size}::after {
		left: $dim / 2;
		top: $dim / 4;
		width: $dim / 4;
		height: $dim * 3 / 4 ;
		border: solid $color-checkmark;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	// Disabled behavior
	.label-#{$size} input:disabled ~ .checkmark-#{$size}::after {
		display: block;
	}
	// Should have no hover effect as you can't interact with it
	.label-#{$size} input:disabled:hover ~ .checkmark-#{$size} {
		display: block;
		background: $color-gray;
	}

	// Invalid behavior
	.label-#{$size} input:invalid ~ .checkmark-#{$size} {
		background-color: $color-red;
	}

	.label-#{$size} input:invalid:hover ~ .checkmark-#{$size} {
		background-color: $color-lightred;
	}

	// Focused behavior
  	.label-#{$size} input:focus ~ .checkmark-#{$size} {
		border: solid 1px $color-outline;
	}
}
