@each $size, $dim in $input_dims {
  .input-#{$size} {
    height: $dim;
    font-size: $dim / 2;
    @include input-general
   }
}

@each $size, $dim in $input_dims {
  .input-req-#{$size} {
    height: $dim;
    font-size: $dim / 2;
    @include input-required
   }
}
