.textarea {
  
  outline: none;
  overflow: auto;
  width: 80%;
  padding: 5px 10px;
  border: 1px solid $color-subtleoutline;
  border-radius: 3px;
  
  &:focus {
    border-color: $color-sky;
  }
  
  &:read-only {
    color: black;
    background-color: $color-disabledbg;
  }
  
  // Border of read-only textarea should not change on focus
  &:read-only:focus {
    border-color: $color-subtleoutline;
  }

  &:disabled {
    background-color: $color-disabledbg;
    color: $color-disabledtext;
  }

  // I wasn't sure how to code the textarea in the 'error' condition, so I
  // decided to create an additional class. Most likely this is for JS calls.
  // This only changes the border color, actually.
  &-err {
    @extend .textarea;
    border: 1px solid $color-red;
  }
}
